<span class="blog-date">
    <time class="dt-published" datetime="{{ page.date|date("c") }}">
        <span class="icon-[ph--calendar] w-6 h-6"></span>
         {{ page.date|date(system.pages.dateformat.short) }}
    </time>
</span>
