<footer class="pb-12"></footer>
{# We decide to not use footer, instead we are placing the links on drawer #}
{# Dont delete this div! Else the drawer will not working this is the close tag of drawer content#}
</div>