{% if config.theme.header.announcement.enabled %}
{% include 'partials/announcement.html.twig' %}
{% endif %}

{# <label for="my-drawer" class="btn btn-primary drawer-button">Open drawer</label> #}        
{% include 'partials/navigation.html.twig' %}

{# 
    <div class="text-center">
        <h1 style="font-family: Montserrat" class="pt-6 my-8 text-4xl font-black sm:my-16 text-primary sm:text-5xl">
            <a href="{{ home_url }}">{{ site.title }}</a>
        </h1>
    </div>

    <div id="header-divider" class="w-full h-px my-4 transform bg-primary -rotate-1"></div> #}
