<nav id="navigation" class="fixed z-10 flex-col w-full border-b border-gray-200 top-0 navbar bg-base-30 backdrop-filter backdrop-blur-lg dark:border-gray-800">
    <div class="flex flex-row items-center justify-between w-full px-4 py-2">
        <div class="navbar-start">
            <a href="{{ home_url }}" class="text-xl btn btn-ghost">{{ site.title }}</a>
        </div>
        <div class="flex items-center">
            <label class="mr-2 swap swap-rotate btn btn-circle btn-ghost">
                <input id="theme-controller" type="checkbox" class="theme-controller" data-toggle-theme="dark,light" value="" data-act-class="light"/>
                <span class="icon-[ph--sun] w-6 h-6 swap-off"></span>
                <span class="icon-[ph--moon-stars] w-6 h-6 swap-on"></span>
            </label>
            <button class="btn btn-ghost btn-circle">
                <div class="indicator">
                    <span class="icon-[ph--shopping-cart] h-6 w-6"></span>
                    <span class="badge badge-xs badge-primary indicator-item"></span>
                </div>
            </button>
            <label for="my-drawer" role="button" class="btn btn-ghost btn-circle">
                <span class="icon-[ph--list] w-6 h-6"></span>
            </label>
        </div>
    </div>
</nav>

{% include "partials/misc/breadcrumb.html.twig" %}
